.section__theme-about {
    margin: 20px auto;
    max-width: 1200px;

    .section_header {
        text-align: center;
    }

    .section_hr {
        width: 80%;
        margin: 0 auto;
    }

    .aside__theme-cards {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 45px auto;
        max-width: 1200px;

        .card,
        .topic {
            box-sizing: border-box;
            padding: 20px;
            width: 100%;
            border: none;

            .card_image {
                height: 35px;
            }

            .card_title {
                box-sizing: border-box;
                font-weight: bold;
                text-align: center;
                margin: 0;
                padding: 25px 0;
            }
        }

        .topic {
            width: 100%;
            text-align: center;

            .topic_title {
                font-weight: bold;
            }
        }

        @include breakpoint($sm) {
            flex-direction: row;

            .card {
                width: 33%;
            }
        }
    }
}