.section__theme-about {
    .aside {

    }

    .aside__theme-cards {
        box-sizing: border-box;
        width: calc(100vw - 40px);

        .card {
            box-sizing: border-box;
            padding: 20px;
            width: 100%;
        }

        @include breakpoint($xs) {

        }
    }
}